.user-button {
    display: inline-block;
    border: 1px solid #ccc;
   
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 40px;
   
}
.user-button > * {
    background: inherit;
   
}
.user-button > button {
    
    width: auto;
    padding: 10px;
    margin: 5px auto;
   
  
}
.active {
    background-color: #4CAF50;
    color: #fff;
}

.inactive {
    background-color: #f44336;
    color: #fff;
}

.container-brief {
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}