.comicdetail {
    display: flex;
}
.comic-info {
    max-width: 800px;
    margin: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comic-brief-info {
    margin-left: 20px;
}
.comic-brief-info > :nth-child(1) {
    color: blue;
    font-weight: bold;
    font-size: 25px;
}
.comic-tag{
    border: 1px solid black;
    width: fit-content;
    padding: 3px;
    border-radius: 10px;
}
.comic-tag:hover {
    cursor: pointer;
    background-color: rgb(204, 204, 204);
}
.chapter-brief{ 
    display: flex;
    margin-top: 20px;
}
.chapter-brief:hover {
    cursor: pointer;
    color: blue;
}