.comic-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comic-form input,
.comic-form button {
    width: 300px;
    margin-bottom: 10px;
}

.comic-form .preview-box {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 10px;
}

#preview-iamge {
    width: 200px;
    object-fit: scale-down;
}
textarea {
    width: 80%;
    height: 100px;
    overflow: auto;
    margin: 20px;
  }