.add-btn {
    display: flex;

}
.add-btn > * {
    margin-left: 20px;
}

.chapter-container-child {
    display: flex;
}
.chapter-container-child > * {
    margin-left: 20px;
}

.chapter-container-child > *:hover {
    color: blue;
    cursor: pointer;
}