.tagList {
    max-width: 700px;
    /* display: flex;
    justify-content: start; */
    /* flex-wrap: wrap; */
}
.tagList > * {
    padding: 3px;
    border-radius: 1px;
    border: 1px solid black;
    margin: 3px;
    height: fit-content;
    font-size: 10px;
}
.tagList > *:hover {
    cursor: pointer;
    background-color: rgb(109, 109, 109);
    color: white;
}
.search-area{
    display: flex;
    justify-content: space-between;
}
.search-area >:nth-child(2) {
    width: 500px;
    display: flex;
    
}

.search-area >:nth-child(2)> :nth-child(2) {
    width: 90px;
}