.comment-detail{
    margin: 30px 40px;
    padding: 25px;
    border-radius: 50px;
    cursor: pointer;
    border-bottom: 1px solid black;
}
.comment-detail:hover {
    background-color: rgb(175, 175, 175);
}
.require-login-to-comment {
    padding: 20px;
    color: white;
    background-color: rgb(91, 134, 255);
    width: fit-content;
    margin: auto;
    cursor: pointer;
}
.require-login-to-comment:hover {
    background-color: rgb(70, 103, 192);
}
.comment-send-box {
    display: flex;
 
}
.comment-send-box > * {

    
}
#comment-send-btn {
    width: fit-content;
}