.track-list {
    display: flex;
}
.track-list > * {
    margin-right: 10px;
    padding: 5px;
}
.track-list > *:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(117, 117, 117);
    
}