.comicmanager {
    position: relative;
   z-index: 5;
}
.comic-list {
    overflow-y: scroll;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
  /* column-gap: 50px; */
  /* grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr); */

}
#comicmanager-header {
    display: flex;
    align-items: center;
    
}
#comicmanager-header > * {
    margin-right: 15px;
}
#comicmanager-header > button {
    width: 40px;
    margin: 0px;
    border-radius: 10px;
    font-size: 1rem;
}
#comicmanager-header > button:hover {
    cursor: pointer;
    background-color: rgb(233, 232, 232);
    color: rgb(67, 67, 255);
    border-radius: 10px;
}

.close-modal{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;

    align-items: center;
}
.close-modal > button {
    width: auto;
    position: absolute;
    right: 10px;
    background-color: red;

}






