.comic-brief {
    padding: 20px 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    word-wrap: break-word;
    margin: 10px;
    position: relative;
}
.comic-brief:hover{
    cursor: pointer;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
}

.header-brief {
    color: rgb(44, 44, 252);
    font-size: 1.3rem;
    font-weight: bolder;
}
img {
    object-fit: scale-down;
}
.brief > * {
    word-wrap: break-word;
}
.delete-brief {
    padding: 5px;
    border-radius: 5px;
 
    color: white;
    position: relative;
    left: 50%;
    width: 50px;
    transform: translateX(-50%);
    background-color: red;
}
.delete-brief:hover {
    cursor: pointer;
    z-index: 99;
}
.comic-brief-container{
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}