#content {
    position: relative;
    z-index: 0;
    background: #fff;
    /* position: fixed; */
    top: 1rem;
    left: 7rem;
    width: calc(100% - 10rem);
    border-radius: 10px;
    padding: 15px;
}

#user-info {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    border-bottom: 2px rgb(114, 114, 114) solid;
    align-items: center;
}
#user-info > * {
    margin-left: 20px;
   

}
.sign-out {
    width: auto;
    background-color: red;
    margin: 10px 10px;
}
#logo-area{
    display: flex;
    width: fit-content;
    justify-items: center;
    text-align: center;
    align-items: center;
}
#logo-area > * {
    margin-right: 10px;
}