.home-container {
    /* position: relative; */
    background: #fff;

    margin: 10px auto;
    width: calc(100% - 60px);
    border-radius: 10px;
    padding: 15px;
}
.comic-list {
    display: flex;
}
#logo-area{
    display: flex;
    width: fit-content;
    justify-items: center;
    text-align: center;
    align-items: center;
}
#logo-area > * {
    margin-right: 10px;
}