.detail-chapter-edit {
   /* overflow: hidden; */
}
/* .list-page-detail {
    overflow-y: scroll;
} */
.page-detail{
    display: flex;
    justify-content: center;
    align-items: center;

}

.page-detail > * > * {
    margin-right: 20px;
}
.page-detail > * > :nth-child(2):hover {
    cursor: pointer;
    color: red;

}
.page-detail > * >  :nth-child(3):hover {
    cursor: pointer;
    color: blue;
}